<h3 id="notice"><%= notice %></h3>
  <div class='col-xs-6 text-center well well-lg'>
    <h1>Your Lists</h1>
    <h2><%= link_to 'New List', new_list_path %></h2>
  </div>
<div class='col-xs-4 col-xs-offset-2'>
<% @lists.order(:created_at).each do |list| %>
    <div class='panel'>
      <%= link_to list.name, list %>
    </div>
<% end %>
</div>
