<h1>Lists</h1>

<ul>

<% @lists.each do |list|  %>
  <li><%= list.name %>
  <%= link_to 'Show', list %>
  <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>

</ul>

<p>
<%= link_to 'Create A New List', new_list_path %>
</p>

