
<div class="nav navbar">
  <div class="container">
    <ul class="nav nav-pills pull-left">
      <li><a href="lists/new">New List</a></li>
    </ul>
  </div>
</div>

<div class="page_name">
  <h1>To-do Lists</h1>
</div>

<p id="notice"><%= notice %></p>



<% @lists.each do |list| %>
  <div class="panel col-xs-3 col-xs-offset-2">
    <h3> <%= link_to list.name.upcase, list %></h3>
    <div class='btn btn-default'><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>

