<div class="nav navbar">
  <div class="container">
    <ul class="nav nav-pills pull-left">
      <li><%= link_to 'All Lists', lists_path %></li>
    </ul>
  </div>
</div>

<h1>New List</h1>

<%= render 'form' %>

<%= link_to 'Back', lists_path %>
