
<div class="headcolor">
<br>
<h1>
  <%= @list.name %>
</h1>
</div>
<div class="bar"></div>

<br>
<br>

<div class="box">
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %> |
<%= link_to 'Tasks', list_tasks_path(@list.id) %>
</div>
