<p>
  <strong>Notes:</strong>
  <%= note.comment %>
</p>

<p>
  <%= link_to 'Destroy Note', [note.task, note],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
