<% unless note.new_record? %>
  <p>
    <%= note.comment %> |
    <%= link_to 'Delete Comment', task_note_path(task_id: note.task.id, id:  note.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>


