<p id="notice"><%= notice %></p>
<div class='well well-lg col-xs-6 text-center'>
  <h1>
    <% if @task.completed %>
      <i class='glyphicon glyphicon-check'></i>
    <% else %>
      <i class='glyphicon glyphicon-unchecked'></i>
    <% end %>
    <%= link_to @task.name, list_path(@list)%>
  </h1>
  <h2>Notes</h2>
</div>
<div class='col-xs-4 col-xs-offset-2'>

<%= render @notes.order(:id) %>
<%= render 'form' %>
</div>
