<h2>New Note</h2>

<%= render 'form' %>

<ul class='page_link'>
  <li><%= link_to 'Back to Project Main', projects_path %></li>
  <li><%= link_to 'Back to Group Main', group_tasks_path(@task.group_id) %></li>
  </ul>
