
<div class="nav navbar">
  <div class="container">
    <ul class="nav nav-pills pull-left">
      <li><%= link_to 'All Lists', lists_path %></li>
      <li><%= link_to 'Back to Task', list_task_path(@list, @task) %></li>
    </ul>
  </div>

</div>

<h1>New Note</h1>

<%= render 'form' %>
