<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<%= link_to 'Edit', edit_list_task_note_path(@list, @task, @note) %> |
<%= link_to 'Back', list_task_notes_path(@list, @task) %>
