<%= form_for [@list, @task] do |f| %>

  <div class="field">
    <%= f.label 'Task' %><br>
    <%= f.text_field :name, autofocus: true%>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success move' %>
  </div>
<% end %>
