<div class="navbar">
  <ul class ="nav nav-pills">
    <li><%= link_to 'Back to List', @list %> </li>
    <li><%= link_to 'Back to All Lists', lists_path %></li>
  </ul>
</div>

<h1>Editing Task</h1>

<%= render 'form' %>
