
<table class="table">
  <tr>
  <td><strong>Name:</strong>
  <%= @task.name %></td>
  <td><strong>Completed?:</strong>
  <%= @task.completed? %></td>
  </tr>
</table>
<p>
<strong>Notes:</strong>
</p>

<% @task.notes.each do |note| %>
<table class="table">


  <tr>
  <% if note.note != nil %>
  <td><li><%= note.note %></li></td>
  <% end %>
  </tr>
  </table>

  <% end %>

<h1>Edit Task</h1>

<%= render 'form' %>

