<h1>Tasks for <%= @list.name %></h1>


<p>
  <strong>Task:</strong>
  <%= @task.name %><br>
  <strong>Status:</strong>
  <% if @task.status == true %>
    Complete
  <% else %>
    Incomplete
  <% end %>
</p>


<%= render 'form' %>
