<h1>New Task</h1>

<%= render 'form' %>

<ul>
  <li><%= link_to 'Back to Project Main', projects_path %></li>
  <li><%= link_to 'Back to Group Main', project_groups_path(@group.project_id) %></li>
  </ul>
