<p>
  <strong>Task:</strong>
  <% if @task.complete? %>
  *
  <% end %>
  <%= @task.name %> |
</p>


<%= render @task.notes %>
<%#= render partial: "notes/note", collection: @task.notes %>
<%= render 'notes/form' %>

<%= link_to 'Back To Lists', lists_path %>
