<div class="button_slider">
  <%= button_to :back, method: :get, class: "btn btn-info" do %>
    <i class="fa fa-step-backward fa-lg"></i> Back
  <% end %>
</div>

<div class="button_slider">
  <%= button_to projects_url, class: "btn btn-primary", method: :get do %>
    <i class="fa fa-home fa-lg"></i> Home
  <% end %>
</div>
