<div class='welcome'> <h1>Welcome to the Project Organizer</h1>
  <ul>
   <li><div class='btn btn-default btn-lg'><%= link_to "Go to Current Projects", projects_path %></div></li>
    <li><div class='container' id='welcome'><%=render 'projects/form'%>
    </div></li>

  </ul>
</div>

