<div class='welcome'> <h1>Welcome to the Project Organizer</h1>

<ul>
  <li><%= link_to "Go to Existing Projects", projects_path %></li>
  <li><%= link_to "Add a New Project", new_project_path %> </li>
</ul>

