<div class = "tbox fade-in one">
<br>
<h1 class = "title" >Welcome, Katy</h1>
</div>
<div class="home_button fade-in two">
<br>
<p id="home_text">
<%= link_to 'View Your Todo Lists', controller: 'lists' %></p>
</div>

<div class="third_fade fade-in three"></div>
