<h2>Editing Project</h2>

<%= render 'form' %>


<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to 'Create New Project', new_project_path %></li>
</ol>
