<h2><%= @project.name %></h2>

<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, project_list_path(@project, list) %></li>
<% end %>
</ul>

<h3>Create new list</h3>
<%= render 'lists/form' %>
