body {
  text-align: center;
  background-color: #E9EFEA;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 18px;
  margin: 0px;
  color: #1C344C;
  font-weight: 200;
}

.headcolor{
  height: 150px;
  background-color: #91C46C;
  margin-top: -14px;
}

.diff_headcolor{
  height: 150px;
  background-color: #CEA3FF;
  margin-top: -14px;
}
.bar {
  height: 10px;
  background-color: #287D7D;
  margin-bottom: 15px;
}

.button {
  height: 30px;
  width: 100px;
  background-color: #A2EDC5;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 10px;
}

.box {
  height: 40px;
  width: 200px;
  background-color: #A2EDC5;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 15px;
  }

.buttontext {
  color: #F2F2F2;
}

link {
  color: #F2F2F2;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
  color: #F2F2F2;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}
