<header class="navbar">
  <div class="container">
    <h2>Project Organizer App</h2>
    <ul class="nav nav-tabs navbar-nav navbar-right">
      <li><%= link_to "Home ", root_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
    </ul>
  </div>
</header>
