<!DOCTYPE html>
<html>
<head>
  <title>F**KING DO IT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-7 ">
          <div class="col-md-9 col-centered">
            <%= yield %>
          </div>
        </div>
        <div class="col-md-5">
          <div class="full-height">
            <p class="text-center"><strong>DON'T F**KING PROCRASTINATE</strong></p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
